concurrent = 4

[[runners]]
  name = "azure runner"     
  url = "https://gitlab.com"
  token = "<snip>"
  executor = "instance"

  [runners.autoscaler]
    capacity_per_instance = 1
    max_use_count = 1
    max_instances = 5
    plugin = "fleeting-plugin-azure"

    [[runners.autoscaler.policy]]
      idle_count = 0
      idle_time  = "20m"

    [runners.autoscaler.connector_config]
      username = "azureuser"
      password = "<snip>"
      use_static_credentials = true
      timeout = "10m"
      use_external_addr = true

    [runners.autoscaler.plugin_config]
      name = "ajwalker-fleeting-test"
      subscription_id = "9b3c4603-cdf2-4099-bec8-8b9e5a2e7105"
      resource_group_name = "ajwalker-fleeting-plugin"
