stages:          # List of stages for jobs, and their order of execution
  - build
  - test
  - deploy

build-job-aws:       # This job runs in the build stage, which runs first.
  stage: build
  image: arm64v8/ubuntu:24.04
  script:
    - echo "Compiling the code..."
    - echo "Compile complete."
  tags:
    - scaler


